spring:
  application:
    name: todolife

  datasource:
    url: jdbc:postgresql://localhost:5432/todo_app
    username: admin
    password: secret
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        transaction.jta.platform: org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform



#  docker run --name todo_psql -e POSTGRES_USER=admin -e POSTGRES_PASSWORD=secret -e POSTGRES_DB=todo_app -v pgdata:/var/lib/postgresql/data -p 5432:5432 -d postgres:15
